{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Editar Producto</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a class="btn btn-primary" href="{{ path('producto') }}">
           Regresar
        </a>
    </li>
    <li>
    	  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalVerificacion">
          Eliminar
          </button>
    </li>
</ul>
{% include 'Modulo1Bundle:Direccion:modal_verificacion.html.twig' %}
{% endblock %}