{% extends '::base.html.twig' %}
{% block body %}
 <div class="jumbotron">
        <h1>CRM</h1>
        <p class="lead">
          PROYECTO 2 BASES DE DATOS
          2016
        </p>
        <a class="btn btn-lg btn-success btn-xl" href="{{ path('fos_user_security_login')}}">Iniciar sesión</a> <a class="btn btn-lg btn-success" href="{{ path('fos_user_registration_register')}}" role="button">Crear usuario</a>
        
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>PABLO DÍAZ</h4>
          <p>13203.</p>

          <h4>ADOLFO MORALES</h4>
          <p>13014</p>
         

          <h4>JESÚS GÓMEZ</h4>
          <p>13423</p>
        </div>

        
      </div>
{% endblock %}